asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.7
Django==4.2.16
django-allauth==65.16.0
django-stubs==6.0.2
django-stubs-ext==6.0.2
idna==3.11
pycparser==3.0
PyJWT==2.12.1
requests==2.33.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
