<!DOCTYPE html>
<html>
<head>
    <title>Redirecting to Paytm...</title>
</head>
<body onload="document.paytm.submit()">
    <center>
        <h1>Secure Payment Gateway</h1>
        <p>You are being redirected to Paytm. Please do not refresh.</p>
    </center>

    <form method="post" action="{{ paytm_url }}" name="paytm" id="paytm_form">
        {% for key, value in paytm_params.items %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
    </form>
</body>
</html>
